body { 
    background-color: #282c34; 
    color: #fff;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif; 
 }
 
 #chat { 
    height: 70vh;
    overflow: auto; 
    padding: 10px; 
    border-radius: 5px; 
    border: 1px solid grey; 
    margin: 10px;
    font-size: 1rem; 
    background-color: #282c34; 
    color: #fff;
 }
 
 #input-form { 
    display: flex; 
    justify-content: space-between; 
    padding: 10px; 
 }

 #input-message { 
    width: 80%; 
    height: 30px; 
    border-radius: 5px; 
    border: 1px solid grey; 
    padding: 10px; 
    font-size: 1rem; 
    background-color: #282c34; 
    color: #fff;
    resize: vertical;
    overflow: auto;
 } 

 #submit-button { 
     width: 15%; 
     height: 30px; 
     border-radius: 5px; 
     border: none; 
     font-size: 1rem; 
     background-color: #007bff; 
     color: #fff;
 }

 h1 {
    text-align: center;
    color: #bdc3c7;
  }

 .assistant { color: #6495ED; }
 .Assistant { color: #6495ED; }
 .user { color: #32CD32; }
 
@media (max-width: 768px) {
  #input-message, #submit-button {
    height: 45px;
    font-size: 1rem;
  }

  #chat-history {
    height: 60vh;
  }

  #message-input {
    max-height: 100px;
    resize: none;
    overflow: auto;
  }
}
